<h1 id="tableLabel">Excel Interview</h1>

<p>This component demonstrates fetching data from the database.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>
<input type="file" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)"/>
<div nz-row>
  <div nz-col nzSpan="12">col-12</div>
  <div nz-col nzSpan="12">col-12</div>
</div>
<div nz-row>
  <div nz-col nzSpan="8">col-8</div>
  <div nz-col nzSpan="8">col-8</div>
  <div nz-col nzSpan="8">col-8</div>
</div>
<div nz-row>
  <div nz-col nzSpan="6">col-6</div>
  <div nz-col nzSpan="6">col-6</div>
  <div nz-col nzSpan="6">col-6</div>
  <div nz-col nzSpan="6">col-6</div>
</div>
